<html>
<head>
    <title>BioInformatica Website </title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/bootstrap.min.css') }}">
    <script src="{{ url_for('static',filename='js/bootstrap.min.js') }} "></script>

    <script type="text/javascript">        
        function cambiarDisplay(name) {
            if (!document.getElementsByName) return false;
            fila = document.getElementsByName(name);
            
            for(var x=0;x<=fila.length;x++){
                if (fila[x].style.display != "none") {
                    fila[x].style.display = "none"; //ocultar fila
                } else {
                    fila[x].style.display = ""; //mostrar fila
                }  
            }          
        }        
    </script>

</head>
<body>
    {% include "layout/header.html" %}

    <div class="container">
        <div class="row">
            <table>
                <tr>
                    <th> PARAMETERS:</th>
                    <th></th>
                </tr>
                <tr>
                    <td>
                        <form action="blast_nucleotide" method="post">

                            <div class="row">
                                <label class="col-sm-3 control-label" for="querry_seq">querry_seq: </label>
                                <div class="col-sm-9">
                                    <input class="form-control" type="text" id="querry_seq" name="querry_seq" value={{configBlast.querry_seq}}><br>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-sm-3 control-label" for="k">k: </label>
                                <div class="col-sm-9">
                                    <input class="form-control" type="text" id="k" name="k" value={{configBlast.k}}><br>
                                </div>
                            </div>     
                            <div class="row">
                                <label class="col-sm-3 control-label" for="match_score">match_score: </label>
                                <div class="col-sm-9">
                                    <input class="form-control" type="text" id="match_score" name="match_score" value={{configBlast.match_score}}><br>
                                </div> 
                            </div>
                            <div class="row">
                                <label class="col-sm-3 control-label" for="mismatch_score">mismatch_score: </label>
                                <div class="col-sm-9">
                                    <input class="form-control" type="text" id="mismatch_score" name="mismatch_score" value={{configBlast.mismatch_score}}><br>
                                </div> 
                            </div>
                            <div class="row">
                                <label class="col-sm-3 control-label" for="gap_score">gap_score: </label>
                                <div class="col-sm-9">
                                    <input class="form-control" type="text" id="gap_score" name="gap_score" value={{configBlast.gap_score}}><br>
                                </div>
                            </div> 
                            <div class="row">
                                <label class="col-sm-3 control-label" for="seed_threshold">seed_threshold: </label>
                                <div class="col-sm-9">
                                    <input class="form-control" type="text" id="seed_threshold" name="seed_threshold" value={{configBlast.seed_threshold}}><br>
                                </div>                        
                            </div> 
                            <br>
                            <div class="container">                                
                                <b>Execution mode:</b>
    
                                <br><br>

                                <div class="row">
                                    <label class="col-sm-3 control-label" for="num_secuences">num_secuences: </label>
                                    <div class="col-sm-9">
                                        <input class="form-control" type="text" id="num_secuences" name="num_secuences" value={{configBlast.num_secuences}}><br>
                                    </div>
                                </div> 

                                <!--<div class="row">
                                    <label class="col-sm-3 form-check-label" for="mode1">Basic Version</label>  
                                    <div class="col-sm-9" style="float: right;">
                                        <input class="form-check-input" checked type="radio" id="mode1" name="mode" value="1">
                                    </div>             
                                </div>-->
                                
                                <br>
                                
                            </div>
                            <div class="row">
                                
                                <button type="submit" class="btn btn-info">                        
                                    <span class="glyphicon glyphicon-search"></span> Blast Run
                                </button>
                            </div>

                        </form>
                    </td>
                    <td>
                        <div>
                            <img src="{{url_for('static', filename='images/200px-DNA_orbit_animated.gif')}}" 
                            class="center" alt="DNA_orbit_animated" width="350" height="450">
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <br>

    {% if blastResult %}
    <div class="container">

        <b>Results:</b><br><br>

        <div class="row">
            <!--Jinja-->
            
            <div id="menu">
                <table class="table">
                    <thead class="thead-dark">

                        <tr>
                            <th class="col-sm-1" scope="col"></th>
                            <th class="col-sm-1" scope="col">idSecuence</th>
                            <th class="col-sm-2" scope="col">nameSecuence</th>
                            <th class="col-sm-7" scope="col">strSecuence</th>
                            <th class="col-sm-1" scope="col">scoreMaxSecuence</th>
                        </tr>  
                    </thead>              

                    <tbody>
                    {% for secuence in blastResult.secuences %}      
                        <tr>
                            <th scope="row"> 
                                <input type="checkbox" name="list" id="nivel{{loop.index}}" onClick="cambiarDisplay('row2_{{loop.index}}')">
                                <label for="nivel{{loop.index}}"> {{loop.index}} </label> 
                            </th>
                            <td> {{ secuence.idSecuence }} </td> 
                            <td> {{ secuence.nameSecuence }} </td>
                            <td> <span style="width:700px; word-wrap:break-word; display:inline-block;"> 
                                {{ secuence.strSecuence }} </span> </td>
                            <td> {{ secuence.scoreMaxSecuence }} </td>  
                        </tr>     
                        {% set rowloop = loop %}
                        
                        {% for alignment in secuence.alignments %}
                            {% if loop.index == 1 %}
                            <tr name="row2_{{rowloop.index}}" style="display: none;">
                                <td colspan="5">'querry_seed','query_index_seed','db_seed','db_index_seed','score_seed','querry_alignment_extends','db_alignment_extends','row_scores'</td> 
                            </tr>
                            {% endif %}
                            <tr name="row2_{{rowloop.index}}" style="display: none;">                           
                                <td colspan="5">{{loop.index}} {{ alignment }}</td>
                            </tr> 
                        {% endfor %}

                    {% endfor %} 
                    </tbody>
                </table>     
            </div>      
        </div>
    </div>
    
    <br><br>
    
    <div class="container">

        <b>Statistic:</b>
        <br><br>
        Time to find all seed calculates (score > seed_threshold): {{blastResult.time_seed}}<br>
        Time to extends all alignament calculates: {{blastResult.time_extends}}
        <br><br>

    {% endif %}
    {% if plotImage %}    
        
        <b>Complete Statistic Execution:</b>

        <br><br>
        
        <form action="openAxisPlot" method="post">
            <div class="container">
                Change (x-Axis) Statistic Plot:
                <select name="AxisPlot" class="form-select form-select-lg" aria-label=".form-select-lg example">
                    <option value="1" selected>creation_date (alls execution)</option>
                    <option value="2">length(querry_seq)</option>
                    <option value="3">k</option>
                    <option value="4">mode</option>
                    <option value="5">numSecuencesDb</option>
                </select>
            </div>

            <div class="container">
                Filter Plot (Example: length(querry_seq) > 30 and k=8):                             
                <img src="{{url_for('static', filename='images/icon_info.gif')}}" 
                    title="Filters: querry_seq, creation_date, k, mode, numSecuencesDb, time_seed, time_extends, ..." 
                    width="25" height="25">
                <input class="form-control" type="text" id="filterPlot" name="filterPlot" placeholder="Example: length(querry_seq) > 30 and k=8" value><br>      
            </div>
            <br>
            
            <button type="submit" class="btn btn-info" formtarget="_blank" style="float: right;">                        
                <span class="glyphicon glyphicon-search"></span> Generate!
            </button>
            

        </form>
        
        <div class="row">
            <img src="{{url_for('static',filename='images/temp/')}}{{plotImage}}" alt="Chart" width="800" height="800">
        </div>

        <br>
    {% endif %}
    {% if listStatisticExecution %}    
        <div class="row">
            <table class="table">
                <thead class="thead-dark"><tr>
                    <th scope="col">creation_date</th>
                    <th scope="col">len(querry_seq)</th>
                    <th scope="col">k</th>
                    <!--<th scope="col">match_score</th>
                    <th scope="col">mismatch_score</th>
                    <th scope="col">gap_score</th>
                    <th scope="col">seed_threshold</th>-->
                    <th scope="col">mode</th>
                    <th scope="col">numSecuencesDb</th>
                    <th scope="col">numSeedCalculate</th>
                    <th scope="col">numSecuencesCalculate</th>
                    <th scope="col">time_seed</th>
                    <th scope="col">time_extends</th>
                </tr> </thead>               
                <tbody>
                {% for statistic in listStatisticExecution %}      
                    <tr>
                        <th scope="row">{{ statistic.creation_date }}</th>
                        <td>{{ statistic.querry_seq|length }}</td>                    
                        <td>{{ statistic.k }}</td>
                        <!--<td>{{ statistic.match_score }}</td>
                        <td>{{ statistic.mismatch_score }}</td>
                        <td>{{ statistic.gap_score }}</td>
                        <td>{{ statistic.seed_threshold }}</td>-->
                        <td>{{ statistic.mode }}</td>
                        <td>{{ statistic.numSecuencesDb }}</td>
                        <td>{{ statistic.numSeedCalculate }}</td>
                        <td>{{ statistic.numSecuencesCalculate }}</td>
                        <td>{{ statistic.time_seed }}</td>
                        <td>{{ statistic.time_extends }}</td>
                    </tr>      
                {% endfor %} 
                </tbody>
            </table>
        </div>
    </div>
    {% endif %}

<br/>
<br/>

{% include "layout/footer.html" %}

</body>
</html>
