<html>
<head>
    <title>BioInformatica Website </title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/bootstrap.min.css') }}">
    <script src="{{ url_for('static',filename='js/bootstrap.min.js') }} "></script>

</head>
<body>
    {% include "layout/header.html" %}

    <div class="container">
        <div class="row">
            <table>
                <tr>
                    <th> PARAMETERS:</th>
                    <th></th>
                </tr>
                <tr>
                    <td>
                        <form action="blast_protein" method="post">

                            <div class="row">
                                <label class="col-sm-3 control-label" for="querry_seq">querry_seq: </label>
                                <div class="col-sm-9">
                                    <input class="form-control" type="text" id="querry_seq" name="querry_seq" value={{configBlastProtein.querry_seq}}><br>
                                </div>
                            </div>
                          
                            <br>
                            <div class="container">                                
                                <b>Execution mode:</b>
    
                                <br><br>

                                <div class="row">
                                    <label class="col-sm-3 form-check-label" for="mode1">Bayes Classification</label>  
                                    <div class="col-sm-9" style="float: right;">
                                        <input class="form-check-input" checked type="radio" id="mode1" name="mode" value="1">
                                    </div>             
                                </div>
  
                                <br>
                                
                            </div>
                            <div class="row">
                                
                                <button type="submit" class="btn btn-info">                        
                                    <span class="glyphicon glyphicon-search"></span> Blast Protein Run
                                </button>
                            </div>

                        </form>
                    </td>
                    <td>
                        <div>
                            <img src="{{url_for('static', filename='images/translate_rna_animated.gif')}}" 
                                class="center" alt="Translate_RNA_Animated" width="350" height="450">
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    {% if statsMNB|length %}
    <div class="container">

        <b>Statistics:</b><br><br>

        <div class="row">
            {{statsMNB|safe }}
        </div>
        <br>
    </div>
    {% endif %}
    {% if blastResultProtein|length %}
    <br>
    <div class="container">

        <b>Results:</b><br><br>
        
        <div class="row">
            The sequence is identified with the protein class: {{blastResultProtein}}
        </div>
        <div class="row">
            Time to prediction: {{statsPrediction}}
        </div>
        <br>

        <div class="row"><b>Protein class table:</b></div>
        <div class="row">0	- G protein coupled receptors</div>
        <div class="row">1	- Tirosina kynase</div>
        <div class="row">2	- Tirosina Phosfate</div>
        <div class="row">3	- Synthetases</div>
        <div class="row">4	- Synthase</div>
        <div class="row">5	- Ion channel</div>
        <div class="row">6	- Transcription Factor</div>


    </div>
    {% endif %}

<br/>
<br/>

{% include "layout/footer.html" %}

</body>
</html>
