<html>
<head>
    <title>BioInformatica Website </title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/bootstrap.min.css') }}">
    <script src="{{ url_for('static',filename='js/bootstrap.min.js') }} "></script>

</head>
<body>
    {% include "layout/header.html" %}

    <div class="container">
        <div class="row">
            <table>
                <tr>
                    <th> PARAMETERS:</th>
                    <th></th>
                </tr>
                <tr>
                    <td>
                        <form action="blast_pathogen" method="post">
                            <div class="row">
                                <label class="col-sm-3 control-label" for="querry_seq">pathogen: </label>
                                <div class="col-sm-9">
                                    <input class="form-control" type="text" disabled value="SARS-CoV-2"><br>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-sm-3 control-label" for="querry_seq">querry_seq: </label>
                                <div class="col-sm-9">
                                    <input class="form-control" type="text" id="querry_seq" name="querry_seq" value={{configBlastPathogen.querry_seq}}><br>
                                </div>
                            </div>
                          
                            <br>
                            <div class="container">                                
                                <b>Execution mode:</b>
    
                                <br><br>

                                <div class="row">
                                    <label class="col-sm-3 form-check-label" for="mode1">LSTM Classification</label>  
                                    <div class="col-sm-9" style="float: right;">
                                        <input class="form-check-input" checked type="radio" id="mode1" name="mode" value="1">
                                    </div>             
                                </div>
  
                                <br>
                                
                            </div>
                            <div class="row">
                                
                                <button type="submit" class="btn btn-info">                        
                                    <span class="glyphicon glyphicon-search"></span> Blast Pathogen_DNA Run
                                </button>
                            </div>

                        </form>
                    </td>
                    <td>
                        <div>
                            <img src="{{url_for('static', filename='images/pathogen_sequence.png')}}" 
                                class="center" alt="Pathogen_ADN/RNA" width="350" height="450">
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    {% if statsLSTM|length %}
    <div class="container">

        <b>Statistics:</b><br><br>

        <div class="row">
            {{statsLSTM|safe }}
        </div>
        <br>
    </div>
    {% endif %}
    {% if blastResultPathogen|length %}
    <div class="container">

        <b>Results:</b><br><br>

        <div class="row">
            {{blastResultPathogen}}
        </div>
        <div class="row">
            Time to prediction: {{statsPrediction}}
        </div>
        <br>

    </div>
    {% endif %}

    {% if shortModelSummary|length %}
    <div class="container">

        <b>Neural Network Summary:</b><br><br>

        <div class="row">
            <textarea rows="15" cols="50" disabled>{{shortModelSummary}}
            </textarea>
        </div>

    </div>
    {% endif %}

<br/>
<br/>

{% include "layout/footer.html" %}

</body>
</html>
