

<div class="container">

    <div class="row footer">
   
        <div class="col-3">            
            <a href="about"><div class="text-center"><b>About it</b></div></a>
        </div>
        <div class="col-3">           
            <a href="https://www.linkedin.com/in/juan-francisco-illan-sanchez-3aab827a/" target="_blank"><div class="text-center"><b>Contact</b></div></a>
        </div>
        <div class="col-3">           
            <a href="https://github.com/jillansa/genetic-ai" target="_blank"><div class="text-center"><b>Project genetic-ai (github)</b></div></a>
        </div>
        <div class="col-3">           
            <a href="https://www.ncbi.nlm.nih.gov/" target="_blank"><div class="text-center"><b>NCBI</b></div>
        </div>
    </div>
    <br>
    
</div>
